<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的资料</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的评论</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的收藏</string>
	</dict>
	<dict>
		<key>title</key>
		<string>购物车</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的订单</string>
	</dict>
	<dict>
		<key>title</key>
		<string>修改密码</string>
	</dict>
	<dict>
		<key>title</key>
		<string>注销</string>
	</dict>
</array>
</plist>
